<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of the Players</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <h1> Players List </h1>

    <a th:href = "@{/showNewPlayerForm}" class="btn btn-primary btn-sm mb-3"> Add Player</a>


    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=nickName&sortDir=' + ${reverseSortDir}}">
                    Players Nick Email
                </a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                    Players First Email
                </a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                    Players Last Email
                </a>
            </th>
            <th> Actions </th>th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="player : ${listPlayers}">
            <td th:text="${player.nickName}"></td>
            <td th:text="${player.firstName}"></td>
            <td th:text="${player.lastName}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${player.id_player})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deletePlayer/{id}(id=${player.id_player})}" class="btn btn-danger">Delete</a>
                <a th:href="@{/showStatistics/idPlayer/{idPlayer}(idPlayer=${player.id_player})}" class="btn btn-danger">Show stat</a>
                <a th:href="@{/showPlayerCard/idPlayer/{idPlayer}(idPlayer=${player.id_player})}" class="btn btn-danger">Show card</a>
                <a th:href="@{/showCalculateActivityForm/idPlayer/{idPlayer}(idPlayer=${player.id_player})}" class="btn btn-danger">Calculations</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                </span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>

    </div>
</div>

<form action="#" th:action="@{/saveAllPlayers}" th:object = "${player}" method="POST">
    <button type="submit" class="btn btn-info col-2"> Save All Players</button>
</form>

<form action="#" th:action="@{/generatedShadowPlayers}" th:object = "${player}" method="POST">
    <button type="submit" class="btn btn-info col-2"> Generated Shadows </button>
</form>

</body>
</html>