<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update quest</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Quest Management System</h1>
    <hr>
    <h2>Update Quest</h2>

    <form action="#" th:action="@{/saveQuest}" th:object = "${quest}" method="POST">

        <input type="hidden" th:field="*{idQuest}">
        <div>
            Quest name:
            <input type="text" th:value="${quest.name}" th:field="*{name}" placeholder="Quest name" class="form-control mb-4 col-4">
        </div>
        <div>
            Start date:
            <input type="date"  th:value="${quest.startDate}" id="startDate" name="startDate" placeholder="Start date" class="form-control mb-4 col-4">
        </div>
        <div>
            Deadline:
            <input type="date" th:value="*{deadline}" id="deadline" name="deadline" placeholder="Deadline" class="form-control mb-4 col-4">
        </div>
        <div>
            End date:
            <input type="date" th:value="*{endDate}" id="endDate" name="endDate" placeholder="End date" class="form-control mb-4 col-4">
        </div>
        <div>
            Description:
            <input type="text" th:field="*{description}" placeholder="Quest description" class="form-control mb-4 col-4">
        </div>
        <div>
            Stage:
            <select class="form-control" th:field="*{stage}">
                <option value="0" th:selected="${quest.stage == 0}">Not started</option>
                <option value="1" th:selected="${quest.stage == 1}">In progress</option>
                <option value="2" selected>Done</option>
                <option value="3">Reward</option>
                <option value="4">Cancelled</option>
                <option value="5">Failed</option>
            </select>
        </div>
        <div>
            Quest type:
            <select class="form-control" th:field="*{questType}">
                <option value="0">General (not in the group)</option>
                <option value="1">Self education (new information, articles, interesting issues)</option>
                <option value="2">EPAM issues (all work tasks)</option>
                <option value="3">English</option>
                <option value="4">Sport</option>
                <option value="5">Creation (all related to story writing)</option>
                <option value="6">Game (new features, code clear, and scenarios, resources ideas)</option>
                <option value="7">Routine (everywhere from PP payments to clear space)</option>
            </select>
        </div>

        <button type="submit" class="btn btn-info col-2"> Update Quest</button>
    </form>




</div>
</body>
</html>